#Base URLs per environment
BASE_URL_STAGING=
BASE_URL_PROD=
BASE_URL_LOCAL=
BASE_URL_DEV=
TEST_RUN_API_BASE=
TEST_RUN_API_TOKEN=

#Global env selector
APP_ENV=

#Login path IDs per environment
LOGIN_PATH_ID_STAGING=
LOGIN_PATH_ID_PROD=
LOGIN_PATH_ID_LOCAL=
LOGIN_PATH_ID_DEV=

#Credentials
LOCAL_USERNAME=
LOCAL_PASSWORD=
AUTOMATION_USER_EMAIL=
AUTOMATION_USER_PASSWORD=
PROD_AUTOMATION_USER_EMAIL=
PROD_AUTOMATION_USER_PASSWORD=
ISAR_EMAIL=
ISAR_PASSWORD=
ARMEN_EMAIL=
ARMEN_PASSWORD=
STAGING_AUTOMATION_USER=
STAGING_AUTOMATION_PASSWORD=
AUTOMATION_USER_EMAIL_LOCAL=
AUTOMATION_USER_PASSWORD_LOCAL=
DEV_AUTOMATION_USER_EMAIL=
DEV_AUTOMATION_USER_PASSWORD=